# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
.env/
*.env

# Django


# Migrations (залишати, якщо потрібно)
*/migrations/__pycache__/
*/migrations/*.pyc

# IDE / OS
../.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db