<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Привітання</h1>
    <div class="routes">
        <p class="cars">Ласкаво просимо до нашого сайту. Наш сайт базуеться на темі гонок:</p>
    </div>
    <nav class="main">
        <a href="file:///C:/Users/k.v.marushko/PycharmProjects/PythonProject3/Cars.html">Cars</a>
        <a href="file:///C:/Users/k.v.marushko/PycharmProjects/PythonProject3/Racers.html">Racers</a>
        <a href="file:///C:/Users/k.v.marushko/PycharmProjects/PythonProject3/Routes.html">Routes</a>
        <a href="file:///C:/Users/k.v.marushko/PycharmProjects/PythonProject3/Rates.html">Rates</a>
    </nav>
    <br>
    <br>
    <div class="routes">
        <img src="Gif main.gif">
    </div>
</body>
</html>
